{% case media.media_type %}
{% when 'image' %}
{%- for image in product.images -%}
<div class="product-single__photo product__photo-container product__photo-container-{{ section.id }} js{% unless image == featured_image %} hide{% endunless %}"
     id="ProductPhoto"
     style="max-width: {% include 'image-width' with image: image, width: 480 %}px;"
     data-image-id="{{ image.id }}">
  <a href="{{ image | img_url: '1024x1024' }}"
     class="js-modal-open-product-modal product__photo-wrapper product__photo-wrapper-{{ section.id }}"
     style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
    {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload{% unless image == featured_image %} lazypreload{% endunless %}"
         src="{{ image | img_url: '150x150' }}"
         data-src="{{ img_url }}"
         data-widths="[180, 240, 360, 480, 720, 960, 1080, 1296, 1512, 1728, 2048]"
         data-aspectratio="{{ image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ image.alt | escape }}">
  </a>
</div>
{%- endfor -%}
{% when 'external_video' %}
{%- for image in product.images -%}
<div class="product-single__photo product__photo-container product__photo-container-{{ section.id }} js{% unless image == featured_image %} hide{% endunless %}"
     id="ProductPhoto"
     style="max-width: {% include 'image-width' with image: image, width: 480 %}px;"
     data-image-id="{{ image.id }}">
  <a href="{{ image | img_url: '1024x1024' }}"
     class="js-modal-open-product-modal product__photo-wrapper product__photo-wrapper-{{ section.id }}"
     style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
    {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img class="lazyload{% unless image == featured_image %} lazypreload{% endunless %}"
         src="{{ image | img_url: '150x150' }}"
         data-src="{{ img_url }}"
         data-widths="[180, 240, 360, 480, 720, 960, 1080, 1296, 1512, 1728, 2048]"
         data-aspectratio="{{ image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ image.alt | escape }}">
  </a>
</div>
{%- endfor -%}
<div class="product-single__media" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100}}%;" data-media-id="{{ media.id }}">
  {{ media | external_video_tag }}
</div>
{% when 'video' %}
<div class="product-single__media" data-media-id="{{ media.id }}">
  {{ media | video_tag: controls: true }}
</div>
{% when 'model' %}
<div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
  {{ media | model_viewer_tag }}
</div>
{% else %}
<div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
  {{ media | media_tag }}
</div>
{% endcase %}